<ActionBar class="c-bg-white m-t-25">
    <StackLayout style.width="100%" orientation="horizontal">
        <TextField #srch (returnPress)="addText(srch.text)" class="search-text" hint="Search" returnKeyType="search"></TextField>
    </StackLayout>
    <ActionItem id="clear" icon="res://ic_close" automationText="clear" ></ActionItem>
    <NavigationButton icon="res://ic_back_black" (tap)="goBack()" text="Go Back"></NavigationButton>
</ActionBar>
<StackLayout width="100%" height="100%" backgroundColor="#eeeeee">

</StackLayout>






