<ScrollView>
    <FlexboxLayout flexDirection="column">
        <FlexboxLayout class="item-image" flexDirection="column" [style]="getImageStyle(service.selectedItem.img)">
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row-reverse" class="action-button-container">
            <StackLayout class="fab-container">
                <Image src="res://ic_add" stretch ="none" class="action-button-icon"></Image>
            </StackLayout>
        </FlexboxLayout>
        <FlexboxLayout #content style.zIndex="2" flexDirection="column">
            <Label flexGrow="1" [text]="service.selectedItem.title" class="h2 c-black p-l-15 p-r-15 p-t-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="service.selectedItem.description" class="p-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="service.selectedItem.description" class="p-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="service.selectedItem.description" class="p-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="service.selectedItem.description" class="p-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="service.selectedItem.description" class="p-15" textWrap="true"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</ScrollView>

<AbsoluteLayout>
    <StackLayout class="status-bar-shadow"></StackLayout>
    <FlexboxLayout flexDirection="row" justifyContent="flex-start" class="action-bar-custom">
        <Image src="res://ic_back" class="m-l-10 m-t-10" (tap)="goBack()" stretch="none"></Image>
    </FlexboxLayout>
</AbsoluteLayout>

Y












<!--<FlexboxLayout class="item-status-cont">-->
<!--<ActivityIndicator width="55" height="55" [busy]="busy" class="activity-indicator m-15" ></ActivityIndicator>-->
<!--<Label *ngIf="!busy && !service.selectedItem.bucketed" text="Add Item" class="item-status p-15"></Label>-->
<!--<Image *ngIf="!busy && !service.selectedItem.bucketed" src="res://ic_item_add" stretch ="none" class="m-15" (tap)="addToBucket()"></Image>-->

<!--<Label *ngIf="!busy && service.selectedItem.bucketed && !service.selectedItem.checked" text="Bucket Item" class="item-status p-15"></Label>-->
<!--<Image *ngIf="!busy && service.selectedItem.bucketed && !service.selectedItem.checked" src="res://ic_item_bucketed" stretch ="none"-->
<!--class="m-15" (tap)="removeFromBucket()"></Image>-->

<!--<Label *ngIf="!busy && service.selectedItem.bucketed && service.selectedItem.checked" text="Checked Item" class="item-status p-15"></Label>-->
<!--<Image *ngIf="!busy && service.selectedItem.bucketed && service.selectedItem.checked" src="res://ic_item_checked" stretch ="none" class="m-15"></Image>-->
<!--</FlexboxLayout>-->
