.status-bar-shadow {
    top: 0;
    left: 0;
    height: 25;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}

.action-bar-custom {
    top: 25;
    left: 0;
    height: 50;
    width: 100%;
}

.item-status {
    color: #00caab;
}

.item-status-cont {
    justify-content : flex-end;
    align-items: center;
}

.action-bar-transparent {
    background-color: transparent;
}

.item-image {
    width: 100%;
    height: 300;
    background-color: #BBBBBB;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.action-button {
    top: 240;
    left: 80%;
    z-index: 200;
}

.action-button-container {
    width: 100%;
    margin-top: -25;
}

.fab-container {
    background-color: #00caab;
    border-radius: 50;
    width: 50;
    height: 50;
    margin-right: 30;
}

.action-button-icon {
    margin: 11;
}