/* Hide a bunch of things to setup the initial animations */
.form-controls, .sign-up-stack {
  opacity: 0;
}

.background {
  background-color: #245e5c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* TODO: Assigning explicit heights and applying this margin shouldn’t be necessary. */
.initial-container {
  margin-top: 100;
}

.initial-label {
  color: white;
  horizontal-align: center;
  margin-bottom: 305;
}

.facebook-login {
  background-color: #3b5998;
  color: white;
  height: 55;
  width: 275;
  vertical-align: center;
  margin-bottom: 30px;
}

.google-login {
  background-color: #ea4335;
  color: white;
  height: 55;
  width: 275;
  vertical-align: center;
}
.initial-button-label {
  horizontal-align: center;
  font-weight: bold;
}
