<GridLayout>

  <GridLayout #background
    class="background">
  </GridLayout>

  <StackLayout
    class="initial-container">
    <Label
      text="TravelBucket"
      class="initial-label"></Label>
    <ActivityIndicator row="1" class="activity-indicator loading" width="50" height="50" busy="{{ isLoging }}"></ActivityIndicator>
    <StackLayout
      class="facebook-login"
      (tap)="facebookLogin()">
      <Label
        text="Sign in using Facebook"
        class="initial-button-label"></Label>
    </StackLayout>
    <StackLayout
      class="google-login"
      (tap)="googleLogin()">
      <Label
        text="Sign in using Google"
        class="initial-button-label"></Label>
    </StackLayout>
  </StackLayout>
</GridLayout>