<ActionBar class="action-bar" #ab [title]="title">
    <SearchBar *ngIf="showSearchBar" [text]="searchPhrase" backgroundColor="#FFFFFF" class="m-r-10" color="#000000" #sb (submit)="addItem(sb.text)" hint="Add a tag to filter"></SearchBar>
    <ActionItem *ngIf="!showSearchBar" id="searchmenubutton"  icon="res://ic_search" (tap)="searchMode()" automationText="Search" ></ActionItem>
    <ActionItem *ngIf="!showSearchBar" id="searchmenubutton"  icon="res://ic_add" automationText="Add" (tap)="onAddIconClick()"></ActionItem>
    <ActionItem *ngIf="!showSearchBar" id="moremenubutton" (tap)="more()" icon="res://ic_menu" automationText="More" ></ActionItem>
    <NavigationButton *ngIf="showSearchBar" icon="res://ic_back" text="Go Back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<AbsoluteLayout style.zIndex="100" *ngIf="service.bucketFilters.length">
    <ScrollView orientation="horizontal" opacity="0.98" width="100%" height="50" top="0" left="0" backgroundColor="#FFFFFF">
        <FlexboxLayout height="50" class="tag-container p-5">
            <filter-tag *ngFor="let tag of service.bucketFilters; let i = index" [name]="tag" (remove)="onRemoveTagFilter(tag,i)"></filter-tag>   
        </FlexboxLayout>
    </ScrollView>
    <!--<ActivityIndicator style.zIndex="101" [busy]="loading" height="70" top="70" left="50%" class="activity-indicator" ></ActivityIndicator>-->
</AbsoluteLayout>

<ActivityIndicator style.zIndex="101" [busy]="loading" height="70" class="activity-indicator" ></ActivityIndicator>
<ScrollView style.zIndex="1">
    <FlexboxLayout *ngIf="!loading" flexWrap="wrap" justifyContent="space-between" class="p-10" [ngClass]="{'item-container' : service.bucketFilters.length}">
        <GridLayout *ngFor="let item of service.myBucket; let i = index" class="item-card m-b-15" columns="*,*,*,*" rows="*,*,*,*" (tap)="onItemTap(item, i)">
            <StackLayout class="card-img" row="0" col="0" colSpan="4" rowSpan="3" [style]="getImageStyle(item.img)">
            </StackLayout>
            <Image row="3" col="0" [src]="userService.currentUser.pic" class="item-profile"></Image>
            <Label row="3" col="1" [text]="item.title" colSpan="3" class="body" class="item-title m-t-5" textWrap="true"></Label>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>



