<ActionBar class="action-bar" title="My Bucket List">
    <ActionItem id="searchmenubutton"  icon="res://ic_search" automationText="Search" ></ActionItem>
    <ActionItem id="searchmenubutton"  icon="res://ic_add" automationText="Search" ></ActionItem>
    <ActionItem id="moremenubutton" (tap)="more()" icon="res://ic_menu" automationText="More" ></ActionItem>
</ActionBar>

<ScrollView>
    <StackLayout>
        <FlexboxLayout flexWrap="wrap" class="m-t-15 m-l-15">
            <Label class="p-5 text-center" text="Rotorua" borderRadius="5" backgroundColor="#ef5350"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexWrap="wrap" justifyContent="space-between" class="p-10">
            <GridLayout *ngFor="let item of items" class="item-card m-b-15" columns="*,*,*,*" rows="*,*,*,*" (tap)="onItemTap(item)">
                <StackLayout class="card-img" row="0" col="0" colSpan="4" rowSpan="3" [style]="getImageStyle(item.img)">
                </StackLayout>
                <Image row="3" col="0" [src]="userService.currentUser.pic" class="item-profile"></Image>
                <Label row="3" col="1" [text]="item.title" colSpan="3" class="body" class="item-title m-t-5" textWrap="true"></Label>
            </GridLayout>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>


