.item-card {
    width: 45%;
    height: 220;
}

.card-img {
    background-color: #BBBBBB;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8;
}

.item-title {
    color: #000000;
    font-style: oblique;
}

.item-profile {
    width:27 !important;
    height:27 !important;
    border-radius: 20;
}

.filter-tag {
    width: 80; 
    height: 30;
    border-radius: 5;
    background-color: #E57373;
}

.tag-container {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.item-container {
    padding-top: 60;
}